<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg); margin-bottom: auto;">
    <div class="login-box card">
        <div class="card-body">
            <form (ngSubmit)="login(auth1)" #auth1="ngForm"  class="form-horizontal form-material" id="loginform" action="https://www.wrappixel.com/demos/admin-templates/material-pro/material/index.html">
                <a href="javascript:void(0)" class="text-center d-block"><img style="width: 65%;" src="../assets/images/Logo_Crediolimpica.png" alt="Home" /><br/></a>
                <div class="form-group mt-4">
                    <div class="col-xs-12">
                        <input class="form-control" ngModel name="email" type="email"  matInput placeholder="Correo Electronico" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input   class="form-control" ngModel name="password" type="password" matInput placeholder="Contraseña" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex no-block align-items-center">
                        <div class="checkbox checkbox-primary pt-0">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> Recuerdame </label>
                        </div>
                        <div class="ml-auto">
                            <!-- <a href="javascript:void(0)" id="to-recover" class="text-muted"><i class="fa fa-lock mr-1"></i> Forgot pwd?</a>  -->
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-3">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" [disabled]="!auth1.valid" type="submit">Ingresar</button>
                    </div>
                </div>
                <!-- <div class="form-group mb-0">
                    <div class="col-sm-12 text-center">
                        Don't have an account? <a href="pages-register2.html" class="text-primary ml-1"><b>Sign Up</b></a>
                    </div>
                </div> -->
            </form>
            <form class="form-horizontal" id="recoverform" action="https://www.wrappixel.com/demos/admin-templates/material-pro/material/index.html">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recover Password</h3>
                        <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-center mt-3">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>